@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

.nav {
  height: 5rem;
  background-color: #222;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-title {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  /* border: 2px solid red; */
  text-align: center;
}

.hero {
  background-color: #d9afd9;
  background: linear-gradient(356deg, rgba(121, 0, 255, 1) 0%, rgba(255, 153, 0, 0.8240546218487395) 100%);
  min-height: calc(100vh - 5rem);
  position: relative;
}

.hero-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  color: #fff;
  padding: 5rem 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-center h1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}

.hero-center p {
  margin-bottom: 1.5rem;
  max-width: 35rem;
  margin: 0 auto;
}

.hero-text {
  animation: slideFromTop 2s ease-in-out 1;
  /* animation: animation-name duration transition-timing-function iteration-count */
}

.button {
  background: transparent;
  border: 1px solid white;
  padding: 0.75rem 1.25rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  margin-top: 20px;
  animation: slideFromBottom 2s ease-in-out 1;
}

.button:hover {
  cursor: pointer;
}

.dummy {
  min-height: 100vh;
  background: grey;
}
/* animation */
@keyframes slideFromTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
