@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@100;400;700&family=Raleway:wght@100;200;400;700&display=swap");

:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #007fff;
  --main-gray: #303841;
  --main-nav: #000000;
}
* {
  margin: 0;
  padding: 0;
}
*,
::before,
::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
  background-color: var(--main-gray);
  color: var(--main-white);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}
a {
  text-decoration: none;
  color: var(--main-white);
}

li {
  list-style: none;
}

/* navbar */
nav {
  background-color: var(--main-nav);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

nav ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2rem;
}

nav a {
  display: block;
  font-size: 2rem;
  padding: 12px;
  height: 100%;
}

nav a:hover {
  background-color: var(--main-blue);
}
@media (max-width: 28.75em) {
  #navbar {
    justify-content: center;
  }
  .nav-links {
    margin: 0 1rem;
  }
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #0d0a0b;
  background-image: linear-gradient(315deg, #0d0a0b 0%, #009fc2 74%);
}
#welcome-section > h1 {
  text-shadow: 2px 2px 4px black;
}
#welcome-section > p {
  color: var(--main-white);
  font-style: italic;
  font-weight: 400;
}

/* Project Section */

#projects {
  width: 100%;
  text-align: center;
  background: var(--main-blue);
  padding: 10rem 2rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

#project-title {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

img {
  display: block;
  width: 100%;
  height: calc(100% - 6.8rem);
  object-fit: cover;
}

#project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project-title {
  background: var(--main-gray);
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--main-gray);
  transition: background 0.3s ease-out;
}
.btn-show-all:hover {
  background: var(--main-red);
}
.btn-show-all:hover > i {
  transform: translateX(2px);
}
.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

/* contact section */

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  background: var(--main-gray);
}
.contact-heading > p {
  font-style: italic;
  font-weight: 200;
}
@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.social-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: scale(1.1);
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  background: var(--main-blue);
}
footer p {
  padding: 2rem 0.5rem;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
